.header {
  font-size: 14px;
  position: relative;
  border-radius: 5px 5px 0 0;
  background-color: var(--background-color-calendar-header);
  color: var(--color-text);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.2);
  
  &__arrow__icon {
    font-size: 12px;
  }

  div {
    cursor: pointer;
  }
}