.calendar {
  &__header {
    display: grid;
    margin: 0;
    height: 20px;
    grid-template-columns: repeat(7,minmax(0,1fr));
    padding-left: 8px;
  }

  &__day__label {
    position: relative;
    border-right: 1px solid rgb(218,220,224);
    color: #70757a;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 8px;

    &:first-child {
      border-left: 1px solid rgb(218,220,224);
    }
  }
}
