.event__slot {
  flex: 1;
  height: 100%;
  position: relative;
  border-left: 1px solid #d8d8d8;

  &_empty::before {
    content: '';
    position: absolute;
    background-color: #d8d8d8;
    width: 1px;
    height: 20px;
    left: -1px;
    bottom: 0;
  }
}