.btn__action {
  cursor: pointer;
  border: none;
  outline: none;
  background: inherit;
  height: 42px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  line-height: 42px;

  &:hover {
    background-color: whitesmoke;
  }

  &:active {
    background-color: #dadce0;
  }
  
  &__text {
    margin-left: 15px;
  }
}

.popup {
  z-index: 10;
  position: absolute;
  background: #fff;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}