.event {
  height: 22px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #fff;
  border-radius: 6px;
  margin-bottom: 3px;
  color: #fff;
  font-size: 12px;
  letter-spacing: .1px;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;

  &_right {
    padding-right: 10px;
  }

  &_left {
    padding-left: 10px;
  }

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 4px;
    background-color: cornflowerblue;
  }

  &__arrow {
    position: absolute;
    width: 11px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: -1px;
    bottom: 2px;
    border-style: solid;
    border-top-width: 11px;
    border-bottom-width: 11px;
    border-color: transparent;
    
    &_right {
      right: -11px;
      border-left-width: 8px;
      border-left-color: cornflowerblue;
    }

    &_left {
      border-right-width: 8px;
      left: -11px;
      border-right-color: cornflowerblue;
    }
  }
}