.option {
  height: 30px;
  width: 30px;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #fff;
}