.calendar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);

    &__header {
        display: flex;
        height: 100px;
        padding-left: 48px;
    }

    &__body {
        display: flex;
        overflow: auto;
    }

    &__week-container {
        display: flex;
        width: 100%;
        height: fit-content;
    }

    &__time-scale {
        height: 100%;
        width: 48px;
    }

    &__week {
        display: flex;
        flex: 1;
    }

    &__day {
        position: relative;
        flex: 1;
        border-left: 1px solid #eee;
    }

    &__time-slot {
        height: 59px;
        position: relative;
        border-bottom: 1px solid #eee;
    }

    &__day-label {
        flex: 1;
    }
}

.day-label {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 0.6;

    &__day-name {
        font-size: 14px;
        text-transform: uppercase;
    }

    &__day-number {
        font-size: 22px;
    }
}

.red-line {
    position: absolute;
    width: 100%;
    border-top: 2px solid red;
    z-index: 5;
}