.event {
  height: 22px;
  width: 90%;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 4px;
  margin-bottom: 3px;
  color: #fff;
  font-size: 12px;
  letter-spacing: .1px;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  background-color: cornflowerblue;
}