.mini__calendar {
  width: 200px;
  border-radius: 5px;
  text-transform: capitalize;
  background-color: #fff;
  box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%), 0px 2px 4px -1px rgb(0 0 0 / 20%);

  &__body {
    border-radius: 0 0 5px 5px;
    padding: 5px;
  }
}